.card_title {
    text-align: center;
    font-weight: bold;
    background-color: #FFCC00;
    border-radius: 20px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.products_shop {
    position: absolute;
    top: 20%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 100vh;
    align-items: center;
}

.overlay {
    position: absolute;
    text-align: center;
}

.card-title {
    text-align: center;
    font-family: "Arial black";
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.swal2-container {
    z-index: 9999; /* Ajusta este valor según sea necesario */
  }